.logo-container {
  width: 100px;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.principle-title {
  color: white;
  text-align: center;
  font-weight: 600;
}

.search-input {
  max-width: 400px;
}

.search {
  display: flex;
  justify-content: center;
  padding: 0 40px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: space-around;
  grid-gap: 40px;
  padding: 40px;
}
